body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  padding: 0 1rem;
}

.content {
  min-height: calc( 100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.category__btn {
  position: fixed;
  top: 5rem;
  right: 3rem;
  z-index: 5;
}

.card-image, .card-content, .card-action {
  flex-shrink: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.card-action {
  flex-grow: 0;
}

.card .card-image img {
  height: 100%;
  object-fit: cover;
}

.cart {
  position: fixed;
  top: 5srem;
  right: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 20;
}

@media (max-width: 768px){
  .cart {
    top: auto;
    bottom: 2rem;
    right: 2rem;
    left: auto;
  }
}


.cart__list {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 95%;
  width: 50rem;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 120px 30px #000;
  background: #fff;
  animation: show 500ms ease-in-out;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.close {
  cursor: pointer;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.cart__quantity {
  vertical-align: middle;
  cursor: pointer;
  color: #26a69a;
}

#toast-container {
  top: 3rem !important;
  animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.card-ingredients {
  max-width: 70%;
  width: 100%;
}

.card-ingredients tr {
  border: none;
}

.card-content__items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
}
.card-content__items p {
  font-size: 14px;
  color: #43A047;
}

.card-content__items p:not(:last-child) {
  margin-right: 10px;
}